/* 標準CSS */


/*  基本設定 from myLibrary */

:root{
--body-bg:#ddd;



--font-color:#114;
--font-color-alt:#114;
--font-size:16px;


--ele-border:var(--font-color) solid 1px;


}





/*  標準設定 */
body{
    margin:     0;
    padding:    0;
    border:none;
    text-underline-position: under;    

    background:var(--body-bg);
    letter-spacing: var(--body-letterspacing);
    color:var(--font-color);
    font-size: var(--font-size);
}

a{
    
    color:var(--font-color);
}



/* table */
table th{
    text-align: center;
}
/* ScrollHint */
.js-scrollable > table th,
.js-scrollable > table td{
    white-space: nowrap;
}