.zBtn {
    outline: 1px solid red;
    padding: calc(2 * var(--z-spacing)) var(--z-spacing);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.zBtn:hover{
    background:#ffc;
}
.zBtn > div{
    padding:0;
    margin:0;
    display:inline-block;
    text-align:center;
}