.zBtn {

    outline: 1px solid red;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-height: 3em;
    min-width:  150px;
}
.zBtn > *{
    text-decoration: none;
}