.zBtn {

    outline: 1px solid red;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-height: 60px;
    min-width:  150px;
}
