/* サイト依存の要素設定 */
@import "./common.css";
@import "./css/default.css";
@import "./css/zBtn.css";


/* Google Font：NotoSans JP*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');

/* 変数設定 */
:root{
    /* 背景 */
    --z-bg:#114;

    /* フォント系変数 */
    --z-font-color: #fff;
    --z-font-color-alt: #113;
    --z-font-size:  16px;
    --z-caption-letterspacing:  2px;

    /* 部品設定 */
    --z-margin: 5px;
    --z-padding: 10px;
    --z-spacing:    5px;
    --z-ele-border: 1px solid #fff;
    --z-ele-bg:     #ccc;


    /* パーツ設定 */
    --z-ele-bgcolor:    #339;
    --z-ele-bgcolor-alt:    #aaf;


    /* 罫線 */
    --z-border-color:   #fff;
}

/* 以下の指定は、importを上書きする可能性がある */

/*  標準設定 */
*{
	font-family: 'Noto Sans JP', sans-serif;
    text-underline-position: under;
}

body{
    background:var(--z-bg);
    color:var(--z-font-color);
}

/*  bootstrap
    col自体にmargin設定不可なので、中身にboxを配置
    container > row > col > box
*/
.box{
    border:3px solid rgba(255,255,255,0.5);
    border-radius:var(--z-margin);
    padding:var(--z-padding);
    margin:5px;     /* 2倍で表れるので注意 */
}