/* 五峯祭 団体紹介 */

div.KGgpWrapper > div{
    display:    inline-block;
    scroll-snap-align: center;
    min-width:  300px;
    padding:    10px;
    margin: 5px;
    border-radius: 10px;
    border: #ccc 5px solid;
    text-align: center;
    background: #fff;
}

div.KGgpWrapper > div.演劇{
    background: #ada;
}


div.KGgpWrapper > div > img{
    width:  100%;
}