/* 五峯祭 団体紹介 */

div.KGgpWrapper{

}

div.KGgp{
    display:    inline-block;
    width:  200px;
    padding:    10px;
    border-radius: 10px;
    text-align: center;
}

div.KGgp h3,
div.KGgp h4{


}
div.KGgp img{
    width:  100%;
}