.zUnderconstruction{
    color:  #fff;
    font-weight: bolder;
    /*
  text-shadow: var(--z-preset-unerconstruction-text-shadow);
  */
  -webkit-text-stroke: 1px rgba(0,0,0,0.3);
  text-stroke:1px rgba(0,0,0,0.3);
	background: var(--z-preset-unerconstruction-bg);
}

.zPickup{
  display:  block;
  height:   120px;


  background: var(--z-preset-graphPaper);


}
