
.zBtn{
    display: inline-block;
    border: 1px solid var(--z-border-color);
    background: var(--z-ele-bgcolor);
    color: var(--z-fontcolor);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    min-width:  80px;
    vertical-align: middle;
    transition-duration:	var(--z-anime-duration);

}
.zBtn:hover{
    background: var(--z-ele-bgcolor-alt);
    color: var(--z-ele-fontcolor-alt);
}


