
div#zBurgerMenuWrap{
    --z-burger-label-bgcolor:#ff0;
    --z-burger-label-size:  50px;
    --z-burger-ul-bgcolor:  rgba(0,0,63,0.8);
    --z-burger-li-hover-bgcolor:    rgba(255,191,191,0.5);
    --z-burger-fontcolor:   #fff;

    /*  通常表示 */

    /*  バーガー表示 */

}

/*  ラッパー部 */
div#zBurgerMenuWrap{
    padding:    0;
    margin: 0;
    text-align:right;
    color:  var(--z-burger-fontcolor);
}
@media screen and (min-width:600px){
div#zBurgerMenuWrap{
    position:   relative;
}
}
@media screen and (max-width:599px){
div#zBurgerMenuWrap{
    position:   fixed;
    top:0;
    right:0;
}
}


/*  制御部 */
div#zBurgerMenuWrap >div{
    display:inline-block;
    text-align:right;
    margin:0;
    padding:var(--z-spacing);
}
div#zBurgerMenuWrap >div >label{
    display:        table-cell;
    margin: 0;
    text-align: center;
    height: var(--z-burger-label-size);
    width:  var(--z-burger-label-size);
    border-radius:  100vh;
    border: 1px solid var(--z-border-color);
    background:     var(--z-burger-label-bgcolor);
    vertical-align: middle;
}
div#zBurgerMenuWrap label > *{
    vertical-align: middle;
}

@media screen and (min-width:600px){
div#zBurgerMenuWrap >div{
    display:none;
}
}

div#zBurgerMenuWrap input#zBurgerMenuCheckbox{
    display:    none;
}





/*  表示部 */
div#zBurgerMenuWrap input#zBurgerMenuCheckbox + ul.zBurger{
    list-style: none;
    padding:0;
    margin:0;
}

div#zBurgerMenuWrap input#zBurgerMenuCheckbox + ul.zBurger > li{
    padding:var(--z-spacing);
    cursor: pointer;
}
div#zBurgerMenuWrap input#zBurgerMenuCheckbox + ul.zBurger > li:hover{
    background: var(--z-burger-li-hover-bgcolor);
}

@media screen and (min-width:600px){
div#zBurgerMenuWrap input#zBurgerMenuCheckbox + ul.zBurger{
    display:    grid;
    gap:    var(--z-spacing);
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr))
}
div#zBurgerMenuWrap input#zBurgerMenuCheckbox + ul.zBurger > li{
    display:    inline-block;
    margin:0;
    text-align:center;
}
}

@media screen and (max-width:599px){
div#zBurgerMenuWrap input#zBurgerMenuCheckbox + ul.zBurger{
    height:0;
    width:0;
    overflow: hidden;
    transition:var(--z-anime-duration) ease-in-out;

}
div#zBurgerMenuWrap input#zBurgerMenuCheckbox:checked + ul.zBurger{
    display:    block;
    width:50vw;
    min-width:  120px;
    height: 50vh;
    min-height: 400px;
    overflow-y: auto;
    background: var(--z-burger-ul-bgcolor);
}
div#zBurgerMenuWrap input#zBurgerMenuCheckbox + ul.zBurger > li{
    margin:var(--z-spacing);
    text-align: left;
}
}











@media screen and (min-width:600px){

}
@media screen and (max-width:599px){

}


