



div#zBurgerMenuWrap{
    position:   fixed;
    text-align:left;
    padding:    0;
    margin: 0;
    top:0;
    left:0;
}
div#zBurgerMenuWrap *{
    z-index:    100;
}

div#zBurgerMenuWrap label{
    display:        inline-block;
    margin: var(--z-spacing);
    text-align: center;
    height: 50px;
    width:  50px;
    border-radius:  100vh;
    background:     #ff0;
}
div#zBurgerMenuWrap label *{
    vertical-align: middle;
}
div#zBurgerMenuWrap input#zBurgerMenuCheckbox{
    display:    none;
}
div#zBurgerMenuWrap input#zBurgerMenuCheckbox + ul.zBurger{
    height:0;
    width:0;
    overflow-y: hidden;
    list-style: none;
    padding:0;
    margin:0;
    transition:var(--z-anime-duration) ease-in-out;
}
div#zBurgerMenuWrap input#zBurgerMenuCheckbox:checked + ul.zBurger{
    display:    block;
    width:50vw;
    height: 50vh;
    background: rgba(200,200,255,1);
}

div#zBurgerMenuWrap input#zBurgerMenuCheckbox + ul.zBurger > li{
    border: 1px solid var(--z-border-color);
    margin:var(--z-spacing);
    padding:var(--z-spacing);
}
div#zBurgerMenuWrap input#zBurgerMenuCheckbox + ul.zBurger > li:hover{
    background: rgba(255,191,191,0.5);
}