/*
    .zHoverDisp-sp
    スマホのみ
    display:none/block;
    切替
*/

.zHoverDisp{
    display:    none;
}
@media screen and (max-width:599px){
    .zHoverDisp-sp{
        display:    none;
    }
}

*:hover > .zHoverDisp,
*:hover > .zHoverDisp-sp{
    display:    block;
}

