
/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');



@import "./mastercssSetting/default.css";


/*  標準設定 */
*{
	font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
    text-underline-position: under;
}


/* 変数設定 */
:root{
    /* 部品設定 */
    --z-ele-margin: 5px;
    --z-ele-padding: 10px;
    --z-spacing:    5px;
    --z-ele-border: 1px solid #fff;
    --z-ele-bg:     #ccc;

    /* 背景 */
    --z-bg:#114;

    /* パーツ設定 */
    --z-ele-bgcolor:    #339;
    --z-ele-bgcolor-alt:    #aaf;

    /* フォント系変数 */
    --z-font-color: #fff;
    --z-font-color-alt: #113;
    --z-font-size:  16px;
    --z-caption-letterspacing:  2px;

    /* 罫線 */
    --z-border-color:   #fff;
}


/* 基本要素設定 */
#zContainer > section {
    border:var(--z-border-color) 1px solid;
    padding:var(--z-spacing);
}

.zBtn{
    background: var(--z-ele-bgcolor);
    border: 1px solid var(--z-border-color);
    outline:none;
}
.zBtn:hover{
    
    background: var(--z-ele-bgcolor-alt);
    color:var(--z-font-color-alt);
}