
/* 汎用部品 */

@import url("./common.css");

/* 機能モジュール */

/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');


/* test  本当はcommon以下に書きたい*/



/*  標準設定 */
*{
	font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
}


/* 変数設定 */
:root{
    /* 部品設定 */
    --z-ele-margin: 5px;
    --z-ele-padding: 5px;
    --z-spacing:    5px;
    --z-ele-border: 1px solid #000;
    --z-ele-bg:     #ccc;

    /* フォント系変数 */
    --z-font-color: #114;
    --z-font-size:  16px;
    --z-caption-letterspacing:  2px;
}

body{
    padding:0;
    margin:0;
    font-size:  var(--z-font-size);
}

/* 基本要素設定 */
#zContainer > section {
    border: 1px #000 solid;
    padding:var(--z-spacing);
}

a{
    text-decoration: none;
    margin:0 1px;
    padding:0 1px;
    border-bottom:1px #f00 dashed;
}
a:hover{
    background: rgba(255,128,128,0.5);
}