* {
    box-sizing: border-box;
}

body {
    width:100%;
    margin:0;
    padding:0;
}

.zUndisp{
    display:none !important;
}

.zCentering {
    text-align:center;
}
.zCentering > ul{
    display:inline-block;
}
.zCentering >ul > li{
    text-align:left;
}

.xScrollable {
    overflow-x:auto;
    margin:var(--z-spacing,10px);
}
.xScrollable > table{
    margin: 0 auto;
}


.zGridFill{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(100px, 1fr)); /* min・・・必ず内包要素より大きくすること！ */
    gap: var(--z-spacing);
}
.zGridFit{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr)); /* min・・・必ず内包要素より大きくすること！ */
    gap: var(--z-spacing);
    justify-content: center;
}