* {
    box-sizing: border-box;
}

body {
    width:100%;
    margin:0;
    padding:0;
}

.zUndisp{
    display:none !important;
}

.zCentering {
    text-align:center;
}
.zCentering > ul{
    display:inline-block;
}
.zCentering >ul > li{
    text-align:left;
}

.xScrollable {
    overflow-x:auto;
    margin:var(--z-spacing,10px);
}
.xScrollable > table{
    margin: 0 auto;
}


