table{
    border-collapse: collapse;
}
table caption{
    text-align:center;
}
tr > *{
    border: 1px var(--z-border-color,#000) solid;
    padding:var(--z-spacing,5px);
}
th{
    text-align:center;
}
td{
    text-align:left;
}