@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;
  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;
  /* IEサポート */
  font-feature-settings: 'liga';
}
/* アイコンサイズ */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* 背景が明るいとき用のアイコン色 */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* 背景が暗いとき用のアイコン色 */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/*  ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □
    全体設定
    ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ */

:root{
    --z-color-hover:    #ff9;
    --z-color-active:    #faa;
    --z-border-color:   #000;
    --z-font-color:     #000;
}

*{
	font-family: 'Noto Sans JP', sans-serif;
	font-size:  16px;
}

/*  ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □
    汎用要素
    ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ */

body,div#container{
    margin: 0;
    padding:    0;
    background: #fff;
    color:  var(--z-font-color);
}
div#container{
    height:100vh;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
hr{
    margin: 5px 10px;
}
a{
    cursor: pointer;
    color:  var(--z-font-color);
}
a:hover{
    background: var(--z-color-hover);
}
section{
    margin: 0 5px 30px;
}
h2{
    text-align: center;
    background: #bbb;
    padding:    5px 0;
    margin:     10px 0 3px;
}


/*  ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □
    tab関連
    ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ */
div.tabWrapper{
    margin: 10px;
}
div.tabWrapper > div.tabMenu{
    margin: 0;
    padding:    0;
    white-space: pre-wrap;
}
div.tabWrapper > div.tabMenu > span.tabMenuSpan{
    display:    none;
    margin: 0 10px 0 0;
    padding:    0 10px;
    display:    inline-block;
    white-space: pre;
    border-radius: 8px 8px 0 0;;
    border:     1px var(--z-border-color) solid;
    border-bottom:  none;
    cursor: pointer;
}
div.tabWrapper > div.tabMenu > span.tabMenuSpan.tabActive{
    background: inline;
    background: var(--z-color-active);
}
div.tabWrapper > div.tabMenu > span.tabMenuSpan:hover{
    background: var(--z-color-hover);
}
div.tabWrapper > div.tabContent{
    display:    none;
    border: 1px var(--z-border-color) solid;
    margin: 0;
    padding:    10px;
    min-height: 50px;
}
div.tabWrapper > div.tabContent.tabActive{
    display:    block;
}




/*  ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □
    基本レイアウト for 本サイト
    ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ */
header,footer{
    margin: 0;
    padding:    10px;
    background: #114;
    color:  #fff;
}
header{
    position: -webkit-sticky;
    position: sticky;
    top:    0;
    margin-bottom:  10px;
}
footer{
    position:    fixed;
    bottom: 0;
    padding:    0;
    margin-top: 10px;
    width:  100%;
    text-align: center;
}
footer > div#ftMenuPopup{
    display:    none;
    background: #fff;
}
footer > div#ftMenuPopup.menuActive{
    display:    block;
}
footer > div#ftMenuPopup > a{
    display:    block;
    border:     #000 1px solid;
}
footer > div#ftMenu{
    display:    grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0;
    padding: 0;
}
footer > div > div{
    display:    inline-block;
    margin: 0;
    padding: 5px;
}
footer > div > div:hover{
    background: #ddf;
    color:  #114;
}
footer > div > div > span{
    display:    block;
}
@media screen and (max-width: 599px){
    footer > div > div > span:nth-child(2){
        display:    none;
    }
}



/*  ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □
    基本パーツ
    ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ ■ □ */


.zBtn {
    display: inline-block;
    border: #114 1px solid;
    background: #114;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}
.zBtn:hover {
    background: #ccf;
    color: #000;
}