
/* 汎用部品 */
@import url("./css/header.css");
@import url("./css/lists.css");
@import url("./css/scrollbar.css");
@import url("./css/table.css");

/* 機能モジュール */
@import url("./css/zBtn.css");
@import url("./css/zHoverDisp.css");
@import url("./css/zHiddenBlock.css");
@import url("./css/zBaloon.css");

/* Google Icon */
@import "./css/googleIcon.css";
/*  PrettyPrint：コード整形 */
@import "./css/prettyprint.css";


/*  preset */
@import "./css/preset-cssImage.css";
@import "./css/preset-holo.css";

@import "./ext-js/abcjs/abcjs-midi.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

/*  */

.zCentering{
    text-align:center;
}
.centeringOverflow-x{
    margin:		1px auto;
	padding:	0;
    text-align:	center;
    overflow-x:	auto;
}


/*  テキストマスク */
.zTextmask{
    background:var(--z-preset-holo);
    -webkit-background-clip:    text;
    background-clip:    text;
    color:  transparent;
}

/* そのうち、form.cssを作って整理 */
label{
    font:       inherit;
    color:      inherit;
    background: none;
    display:    inherit;
}

a{
    color:  inherit;
}

.undisp{
    height: 0;
    width:  0;
    overflow:   hidden;
}