
/* 汎用部品 */
@import url("./css/header.css");
@import url("./css/lists.css");
@import url("./css/scrollbar.css");
@import url("./css/table.css");

@import "./css/preset-cssImage.css";

@import "./ext-js/abcjs/abcjs-midi.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

/*  */

.zCentering{
    text-align:center;
}
.centeringOverflow-x{
    margin:		1px auto;
	padding:	0;
    text-align:	center;
    overflow-x:	auto;
}


/*  テキストマスク */
.zTextmask{
    background:var(--z-preset-holo);
    -webkit-background-clip:    text;
    background-clip:    text;
    color:  transparent;
}

/* そのうち、form.cssを作って整理 */
label{
    font:       inherit;
    color:      inherit;
    background: none;
    display:    inherit;
}