
/* 汎用部品 */
@import url("./common.css");

/* 五峯祭モジュール */
@import "./KGfes/gallery.css";
@import "./KGfes/group.css";
@import "./KGfes/header-footer.css";
@import "./KGfes/news.css";
@import "./KGfes/pickup.css";

/* Google Font */
@import "https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap";

/*  標準設定 */
*{
	font-family: 'Kosugi Maru', sans-serif;
    font-size:  16px;
    line-height:    1.5;
    box-sizing: border-box;
}


/* 変数設定 */
:root{
    /* 標準：色 */
    --z-fontcolor:     #113;
    --z-bgcolor:       #ccf;

    --z-border-color:   #339;

    --z-ele-bgcolor:    #ccf;
    
    --z-ele-bgcolor-alt:    #88f;
    --z-ele-fontcolor-alt:  #113;
}


/* 全般設定 */
body{
	background: var(--z-preset-checker-blue);
}
body,
div#container {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: large;
	color: var(--z-fontcolor);
}



.zClickable:hover{
    cursor: pointer;
    animation:  zClickableBlink 0.5s ease-in-out;
}
@keyframes zClickableBlink{
    0%{     background: none;   }
    25%{    background: rgba(255,255,0,0.2);    }
    50%{    background: none;   }
    75%{    background: rgba(255,255,0,0.2);    }
    100%{   background: none;   }
}




.zSnapX{
    display:    flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
}
.zSnapX > *{
    max-width:  min(75vw,400px);
}
/* スマホのみ横スクロール */
@media screen and (max-width:600px){
    .zSnapX-sp{
        display:    flex !important;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
    }
    .zSnapX > *{
        max-width:  min(75vw,400px);
    }
}
div#zBurgerMenuWrap label img{
    animation: kgiconRotate 3s linear infinite;
}
@keyframes kgiconRotate{
    0%  {transform: rotate(0deg);}
    100%  {transform: rotate(360deg)}
}