
/* 汎用部品 */
@import url("./common.css");

/* 機能モジュール */

/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');

/*  標準設定 */
*{
	font-family: 'Noto Sans JP', sans-serif;
}




/* 変数設定 */
:root{
    /* 標準 */
    --z-fontcolor:     #fff;
    --z-bgcolor:       #113;

    --z-border-color:   #99f;

    --z-letterspacing: 0.2em;  /* 見出し用文字間隔 */

    /* animation */
    --z-anime-duration: 0.4s;

    /* 個別部品 */
    --z-ele-bgcolor:    #339;
    
    --z-ele-bgcolor-alt:    #aaf;
    --z-ele-fontcolor-alt:  #113;
}





/* 全般設定 */
*{
    font-size:  16px;
    box-sizing: border-box;
    
}

body,div#container {
	padding: 0;
	margin: 0;
	background: var(--z-bgcolor);
	color: var(--z-fontcolor);
	text-align: center;
	font-size: large;
}





.zClickable:hover{
    cursor: pointer;
    animation:  zClickableBlink 0.5s ease-in-out;
}
@keyframes zClickableBlink{
    0%{     background: none;   }
    25%{    background: rgba(255,255,0,0.2);    }
    50%{    background: none;   }
    75%{    background: rgba(255,255,0,0.2);    }
    100%{   background: none;   }
}



