h1,h2,h3,h4,h5,h6{
    letter-spacing: var(--z-letterspacing);
}

h2,h3{
    text-align:center;
    padding:var(--z-spacing);
    position: relative;
    z-index:5;
}
h2{
    margin: calc(8 * var(--z-spacing)) 0 calc(2 * var(--z-spacing));
    font-size:130%;
}
h2:first-child{
    margin: calc(2 * var(--z-spacing)) 0;
}

h2::before,
h2::after{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    min-width: 140px;
    max-width: 300px;
    height: var(--z-padding);
    background: -webkit-repeating-linear-gradient( -45deg, rgba(0,0,0,0), rgba(0,0,0,0) 4px, var(--z-border-color) 2px, var(--z-border-color) 6px);
    background: repeating-linear-gradient( -45deg, rgba(0,0,0,0), rgba(0,0,0,0) 4px, var(--z-border-color) 2px, var(--z-border-color) 6px);
    z-index:5;
}
h2::before{	top:		0;	}
h2::after{	bottom:		0;	}

h3{
    margin: calc(4 * var(--z-spacing)) var(--z-spacing) var(--z-spacing);
    font-size:120%;
}
h3:first-child{
    margin: var(--z-spacing);
}

h5{
    margin:var(--z-spacing) 0 calc(var(--z-spacing) / 2);
}




