section#header{
    background: url("../pict/header.png");
    background-size:    cover;
    z-index:    100;
    padding:    10px;
    text-align: left;
}

section#header div.headTitle{
    color:  #fff;
    text-shadow:    2px 2px 3px rgba(0, 0, 192, 0.9);
}
section#header div#KGfesTitle{
    font-size:  xx-large;
}
section#header  div#KGfesPeriod{
    font-size:  larger;
}

