div#KGfesMenuWrap > ul{
    list-style: none;
    margin:var(--z-spacing) 0 0;
    padding:0;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:var(--z-spacing);
}

div#KGfesMenuWrap > ul > li{
    display:    inline-block;
    color:  #114;
    background:rgba(255,255,255,0.8);
    text-align:center;
    white-space: nowrap;
}

div#KGfesMenuWrap > ul > li.inactive_menu{
    background:#666;
}
div#KGfesMenuWrap > ul > li.inactive_menu::after{
    content:"\A(当日のお楽しみ)"
}

div#KGfesMenuWrap > ul > li > a{
    display:block;
    padding:    var(--z-spacing);
}
div#KGfesMenuWrap > ul *{
    text-decoration: none;
}
div#KGfesMenuWrap > ul > li:hover{
    background:rgba(255,192,192,0.8);
}

@media screen and (max-width:599px){
    div#KGfesMenuWrap{
        display:none;
    }
}


/* menu script変更後、未整理のまま…（表示は乱れないけど） */
div#zBurgerWrap > div#zBurgerUlWrap > ul{
    list-style: none;
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:var(--z-spacing);
}

div#zBurgerWrap > div#zBurgerUlWrap > ul > li{
    display:    inline-block;
    color:  #114;
    background:rgba(255,255,255,0.8);
    text-align:center;
    white-space: nowrap;
}
#zBurgerWrap > div#zBurgerUlWrap > ul > li > a{
    display:block;
    padding:    var(--z-spacing);
}
#zBurgerWrap > div#zBurgerUlWrap > ul > li *{
    text-decoration: none;
}
div#zBurgerWrap > div#zBurgerUlWrap > ul > li:hover{
    background:rgba(255,192,192,0.8);
}



/*  zScripts/burger.cssより

    div#zBurgerWrap
        label
        input#zBurgerChkbx
        div#zBurgerUlWrap
            ul
*/

div#zBurgerWrap{
    --kg-label-size:    40px;
    --kg-menu-marginTop: calc(var(--kg-label-size) + 
                            2 * var(--z-spacing) +
                            2 * var(--z-padding)
                        );
}

div#zBurgerWrap > label{
    position:    fixed;
    right:  0;
    top:0;
    margin:var(--z-spacing);
    padding:var(--z-padding);
    background:#ff0;
    border-radius: 50%;
    border:2px solid var(--z-border-color);
    animation: kgiconRotate 3s linear infinite;
}
div#zBurgerWrap > label img{
    width:var(--kg-label-size);
    height:var(--kg-label-size);
}
@keyframes kgiconRotate{
    0%  {transform: rotate(0deg);}
    100%  {transform: rotate(360deg)}
}

/* 個別サイト用テンプレ */
#zBurgerWrap{
    display:none;
}
/* 小画面表示の場合 */
@media screen and (max-width:599px){

    #zBurgerWrap{
        display:block;
    }
    /* メニューの表示設定 */
    #zBurgerWrap > input#zBurgerChkbx:checked + div#zBurgerUlWrap{
        position: fixed;
        top: var(--kg-menu-marginTop);
        right: var(--z-spacing);
        height: calc(90vh - var(--kg-menu-marginTop) );
        overflow:auto;
    }
    #zBurgerWrap > input#zBurgerChkbx:checked + div#zBurgerUlWrap > ul{
        display:grid;
        grid-template-columns: 1fr;
        padding:calc(3 * var(--z-spacing));
        background: rgba(15,15,47,0.8);
    }
    #zBurgerWrap > input#zBurgerChkbx:checked + div#zBurgerUlWrap > ul > li{
        text-align:left;
    }
    #zBurgerWrap > input#zBurgerChkbx:checked + div#zBurgerUlWrap > ul > li.inactive_menu{
        background:#666;
    }
    #zBurgerWrap > input#zBurgerChkbx:checked + div#zBurgerUlWrap > ul > li.inactive_menu::after{
        content:"\A(当日のお楽しみ)"
    }

}


