div#gridWrapper section#PageMenu{
    border:none;
    background:none;
    box-shadow: none;
    text-align:center;
    margin:0;
    padding:0;
}
#PageMenu ul{
    list-style: none;
    margin:0;
    padding:0;
}

#PageMenu ul li{
    display:    inline-block;
    margin:0 var(--z-spacing);
    padding:0;
}
@media screen and (min-width:600px){
    #PageMenu ul li{
        display:block;
    }
}