
body{
    font-family: 'Kosugi Maru', sans-serif;
    line-height: 1.3;
    width:100%;
    padding:0;
    margin:0;
}
body,body *{
	font-size:  var(--z-font-size);
	z-index:0;
}

#gridWrapper{
    width:100% !important;  /* ? */
}
#gridWrapper > *{
    margin:0;
    padding:20px;
}




/* スクロールバー設定 */

body *::-webkit-scrollbar{
	width:	10px;
	height:	10px
}

body *::-webkit-scrollbar-track{
	background:	    rgba(230,230,230,0.5);
	border-radius:	10px;
	box-shadow: inset 0 0 3px #666; 
}
body *::-webkit-scrollbar-thumb{
	background: rgba(180,180,180,0.5);
	border:			1px solid #333;
	border-radius: 10px;
	box-shadow: none;
}

.noScrollbar::-webkit-scrollbar{
	display:	none;
}