/* 背景模様集 */
/* background: var(--z-preset-bg); */

/* 備忘録
	複数の背景設定は、
	先に書く	前景	・・・　要alpha値設定（後景が潰れる）
	後に書く	後景
*/

:root{
	/* 一括設定変数 */
	/* チェック模様間隔 */
	--z-preset-checker-interval:	18px;


	/* チェック柄 */
	/* 青
	background: var(--z-preset-checker-blue);
	*/
	--z-preset-checker-blue:
		repeating-linear-gradient( 0deg,
			rgba( 255, 255, 255,   0) calc(0 * var(--z-preset-checker-interval)) calc(1 * var(--z-preset-checker-interval)),
			rgba( 127, 127, 255, 0.4) calc(1 * var(--z-preset-checker-interval)) calc(2 * var(--z-preset-checker-interval))
		),
		repeating-linear-gradient( 90deg,
			rgba( 255, 255, 255,   0) calc(0 * var(--z-preset-checker-interval)) calc(1 * var(--z-preset-checker-interval)),
			rgba( 127, 127, 255, 0.4) calc(1 * var(--z-preset-checker-interval)) calc(2 * var(--z-preset-checker-interval))
		);

	/* ストライプ（斜め縞模様） */
	/* オレンジ
	background: var(--z-preset-stripe-orange);
	*/
	--z-preset-stripe-orange:
		repeating-linear-gradient( 45deg,
			#f80 calc(0 * var(--z-preset-checker-interval)) calc(1 * var(--z-preset-checker-interval)),
			#fff calc(1 * var(--z-preset-checker-interval)) calc(2 * var(--z-preset-checker-interval))
		);
	/* 濃い青
	background: var(--z-preset-stripe-orange);
	*/
	--z-preset-stripe-blue:
		repeating-linear-gradient( 45deg,
			#114 calc(0 * var(--z-preset-checker-interval)) calc(1 * var(--z-preset-checker-interval)),
			#88b calc(1 * var(--z-preset-checker-interval)) calc(2 * var(--z-preset-checker-interval))
		);


	/*	市松模様	*/
	/*	透明bg	*/
	--z-preset-transparent-bg:
		repeating-conic-gradient( 
			#fff 0deg 90deg,
			#bbb 90deg 180deg
			) left top / 20px 20px;

	/*	バーバリー風タータンチェック
	background: var(--z-preset-burberry);
	*/
    --z-preset-burberry:
		repeating-linear-gradient( 0deg,
			rgba(   0,   0,   0, 0.4) 0px 4px, /*黒*/
			rgba( 255, 255, 255, 0.4) 4px 8px, /*白*/
			rgba(   0,   0,   0, 0.4) 8px 12px, /*黒*/
			rgba( 255, 255, 255, 0.4) 12px 16px, /*白*/
			rgba(   0,   0,   0, 0.4) 16px 20px, /*黒*/
			rgba( 209, 172, 118, 0.4) 20px 30px, /*香*/
			rgba( 213,   0,   0, 0.4) 30px 32px,/*赤*/
			rgba( 209, 172, 118, 0.4) 32px 36px, /*香*/
			rgba( 213,   0,   0, 0.4) 36px 38px,/*赤*/
			rgba( 209, 172, 118, 0.4) 38px 48px /*香*/
		),
			repeating-linear-gradient( 90deg,
			rgba(   0,   0,   0, 1) 0px 3px, /*黒*/
			rgba( 255, 255, 255, 1) 3px 6px, /*白*/
			rgba(   0,   0,   0, 1) 6px 9px, /*黒*/
			rgba( 255, 255, 255, 1) 9px 12px, /*白*/
			rgba(   0,   0,   0, 1) 12px 15px, /*黒*/
			rgba( 209, 172, 118, 1) 15px 30px, /*香*/
			rgba( 213,   0,   0, 0.8) 30px 31px,/*赤*/
			rgba( 209, 172, 118, 1) 31px 33px, /*香*/
			rgba( 213,   0,   0, 0.8) 33px 34px,/*赤*/
			rgba( 209, 172, 118, 1) 34px 49px /*香*/
		);

	/*	工事中
	background: var(--z-preset-unerconstruction-bg);
	*/
	--z-preset-工事中-bg:
		repeating-linear-gradient( 135deg,
			#ff6 calc(0 * var(--z-preset-checker-interval)) calc(1 * var(--z-preset-checker-interval)),
			#888 calc(1 * var(--z-preset-checker-interval)) calc(2 * var(--z-preset-checker-interval))
		);

	/*	工事中
	background: var(--z-preset-unerconstruction-bg-alpha);
	*/
	--z-preset-工事中-bg-alpha:
		repeating-linear-gradient( 135deg,
			rgba(255, 255, 127, 0.7) 0px 15px,
			rgba(127, 127, 127, 0.7) 15px 30px,
			rgba(255, 255, 127, 0.7) 30px 45px,
			rgba(127, 127, 127, 0.7) 45px 60px
		);
	
	/* 方眼紙（背景別設定可）
	background:	var(--z-preset-graphPaper), #fff;
	*/
	--z-preset-graphPaper:
		repeating-linear-gradient( 0deg,
			#66c 0px 1px,
			transparent 1px 15px
		),
		repeating-linear-gradient( 90deg,
			#66c 0px 1px,
			transparent 1px 15px
		);

	/* 木の風味
	background:	var(--z-preset-likewood);
	*/
	--z-preset-likewood:
		radial-gradient(
			#ffa600 80%,
			#8f6200 100%
			);

	/* ベタ色は別途設定
		background: var(--z-preset-bg-sample), #fff;
	*/
	--z-preset-bg-sample:
		repeating-linear-gradient( 45deg,
			transparent 0px 15px,
			rgba( 255, 0, 0, 0.4) 15px 30px,
			transparent 30px 45px,
			rgba( 255, 0, 0, 0.4) 45px 60px
		);

		

}



