div#debugArea{
    display:inline-block;
    opacity:0.75;
    position: fixed;
    left:5px;
    bottom:5px;
    background:#888;
    font-size:small;
    color:#000;
    z-index:1000;
}

div#debugArea:hover{
    opacity: 1;
}


.debug{
    display: none;
}
.debug_{
    background:#ff0;
    border:2px red solid;
}